@use './variables.scss' as *;
// Import all of Bootstrap's CSS
@import "/node_modules/bootstrap/scss/bootstrap";

@import './partials/variables.scss';
@import './partials/header.scss';
@import './partials/footer.scss';
html{
    overflow-x: hidden;
    ::-webkit-scrollbar {
        display: none;
    }
}


body {
    background-color: $d-boo-background;
    font-family: 'Open Sans', sans-serif;
}




